.logo-container {
  height: 80%;
  width: 50px;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url(../../assets/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


